{#login/templates/login/index.html#}

{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block css %}<link href= "{% static 'CSS/fileinput.css' %}" media="all" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <form enctype="multipart/form-data">
                <span class="file-input file-input-new"><div class="file-preview ">
    <div class="close fileinput-remove">×</div>
    <div class="">
    <div class="file-preview-thumbnails"></div>
    <div class="clearfix"></div>    <div class="file-preview-status text-center text-success"></div>
    <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
    </div>
</div>
<div class="kv-upload-progress hide"></div>
<div class="input-group ">
   <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
   <span class="file-caption-ellipsis">…</span>
   <div class="file-caption-name"></div>
</div>
   <div class="input-group-btn">
       <button type="button" title="清除选中文件" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="glyphicon glyphicon-trash"></i> 移除</button>
       <button type="button" title="取消进行中的上传" class="hide btn btn-default fileinput-cancel fileinput-cancel-button"><i class="glyphicon glyphicon-ban-circle"></i> 取消</button>
       <button type="submit" title="上传选中文件" class="btn btn-default kv-fileinput-upload fileinput-upload-button"><i class="glyphicon glyphicon-upload"></i> 上传</button>
       <div class="btn btn-primary btn-file"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;选择 … <input id="file-0a" class="file" type="file" multiple="" data-min-file-count="1"></div>
   </div>
</div></span>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </form>
    {% else %}
    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}
